<form>
   <div class="form-group col-xs-3">
      <label for="firstName">First name</label>
      <input type="text" class="form-control" ng-model="player.firstName" placeholder="First Name">
   </div>
   <div class="form-group col-xs-3">
      <label for="lastName">Last name</label>
      <input type="text" class="form-control" ng-model="player.lastName" placeholder="Last Name">
   </div>
   <div class="form-group col-xs-3">
      <label for="position">Position</label>
      <input type="text" class="form-control" ng-model="player.position" placeholder="Position">
   </div>
   <div class="form-group col-xs-3">
      <label for="addPlayerButton" style="visibility:hidden;">Button</label><br />
      <button type="submit" class="btn btn-default" ng-click="add(player)">Add</button>
   </button>
</form>
